---
layout: default
---

<div class="home">
  <h1 class="page-title">
    分类： {{ page.title | default: page.category }}
  </h1>

  <ul class="post-list">
    {%- assign cat_name = page.category | default: page.title -%}
    {%- assign posts = site.categories[cat_name] | sort: "date" | reverse -%}

    {%- for post in posts -%}
      <li class="post-item">
        <span class="post-date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</div>
