<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content">
   	<div class="container">	
   		<div class="row">
			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 fadein-left">
				<div class="profile box-shadow center">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="/" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
					<div class="address">
						<h5><span class="fa fa-map-marker"></span> Hangzhou, China</h5>
					</div>
					<div class="center profile_desc">
						{{ site.profile_desc }}
					</div>
				</div>
				
				<div class="tag-cloud-text">
					<a href="http://rann.cc/pages/class.html" title="分类" class="pjaxlink"><p class="center">分类</p></a>
				</div>
				<div class="tag-cloud ">	
					<hr>
					<div class="page-tag">
							{% for category in site.categories %}
								<a href="https://zanghongtu2006.github.io/pages/class.html#{{category[0]}}" name="{{category[0]}}" class="pjaxlink">{{category[0] }}({{category[1].size}})</a>
							{% endfor %}
					</div>					
				</div>
				<div class="clear"></div>

				<div class="tag-cloud-text">
					<a href="http://rann.cc/pages/tags.html" title="标签" class="pjaxlink"><p class="center">标签【点我】</p></a>
				</div>
				<div class="tag-cloud ">	
					<hr>
					<div class="page-tag">
							{% for tag in site.tags %}
								{% if tag[1].size > 2 %}
								<a href="https://zanghongtu2006.github.io/pages/tags.html#{{tag[0]}}" name="{{tag[0]}}" class="pjaxlink"><i class="fa fa-tags"></i>{{ tag[0] }}({{tag[1].size}})</a>
								{% endif %}
							{% endfor %}
					</div>					
				</div>
				<div class="clear"></div>

	 			<div class="recentuse">
	 					<p>GitHub项目</p>
	 					<hr>
	 					<ul>
	 					</ul>
	 			</div>

				<div class="recentuse">
					<p>经常出没</p>
					<hr>
					<ul>
						<li><a href = "https://github.com/zanghongtu2006" target="_blank">GitHub</a></li>
					</ul>
				</div>
				
				<div class="friendlink">
	 					<p>友情链接</p>
	 					<hr>					
		 				<a href = "http://www.zanghongtu.com/" target="_blank">原"零度空间"</a></br>
	 			</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right aside2">					 		
					<div class="page-content" id="pjax">{{content}}</div>		
			</div>
 		</div>	
	</div>
    </div> 
</div>
	<div class="profile_social">
		<a class="rss" href="{{ site.rss_url }}" target="_blank"></a>
		<a class="github" href="{{ site.author.github }}"  target="_blank"></a>
		<a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
	</div>
    <div id="backtotop">
    		<a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    <div class="pjax_loading"></div>
    
    {% include footer.html %}

  </body>

</html>