---
layout: default
---

<div class="home">
  <h1 class="page-title">
    {{ page.title | default: "Home" }}
  </h1>

  {% if page.excerpt %}
  <p class="lead">
    {{ page.excerpt }}
  </p>
  {% else %}
  <p class="lead">
    Welcome to my personal tech blog.

    This is where I write about the things I build, explore, and learn — from cloud platforms and backend architecture to IoT systems, DevOps automation, digital health projects, and the challenges of becoming a developer in Germany.

    I use this space to document ideas, share practical experience, and keep track of my personal projects and technical experiments.
    Sometimes the posts are deep dives into system design; sometimes they are small notes, reflections, or things I simply don’t want to forget.

    I hope you find something useful or interesting here — and feel free to stop by anytime.

  </p>
  {% endif %}

  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
      <span class="post-date">
        {{ post.date | date: "%b %-d, %Y" }}
      </span>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>

      {% if post.categories and post.categories != empty %}
      <span class="post-cats">
        {% for cat in post.categories %}
        <a
          href="{{ '/categories/#' | append: cat | slugify | relative_url }}"
        >
          {{ cat }}
        </a>
        {% unless forloop.last %}, {% endunless %} {% endfor %}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
